Listen 9160
<VirtualHost *:9160>
  DocumentRoot "@@WORKSPACE@@/web"

  SetEnvIf Request_URI "^/js/" assets
  SetEnvIf Request_URI "^/css/" assets
  SetEnvIf Request_URI "^/bundles/" assets

  LogLevel info
  LogFormat "%h %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-agent}i\" %D" wizbii-common
  ErrorLog @@WORKSPACE@@/app/logs/error.log
  CustomLog @@WORKSPACE@@/app/logs/access.log wizbii-common env=!assets
  CustomLog @@WORKSPACE@@/app/logs/assets-access.log wizbii-common env=assets

  # Do not store sessions in cookies and rename session cookie to something else, than PHPSESSID
  # NO MORE SESSIONS !!!
  php_value session.use_cookies 0
  php_value session.cookie_httponly true
  php_value session.name sa-api-sid

  <Directory  "@@WORKSPACE@@/web">
    # Allow cross-origin requests.
    # By default allow cross-origin access to web fonts.
    <IfModule mod_headers.c>
        <FilesMatch "\.(eot|otf|tt[cf]|woff)$">
            Header set Access-Control-Allow-Origin "*"
        </FilesMatch>
    </IfModule>

    <IfModule mod_headers.c>
        Header unset ETag
    </IfModule>

    FileETag None

    <IfModule mod_expires.c>

        ExpiresActive on
        ExpiresDefault                                      "access plus 0 seconds"

      # CSS
        ExpiresByType text/css                              "access plus 0 seconds"

      # Data interchange
        ExpiresByType application/json                      "access plus 0 seconds"
        ExpiresByType application/ld+json                   "access plus 0 seconds"
        ExpiresByType application/xml                       "access plus 0 seconds"
        ExpiresByType text/xml                              "access plus 0 seconds"

      # Favicon (cannot be renamed!) and cursor images
        ExpiresByType image/x-icon                          "access plus 0 seconds"

      # HTML components (HTCs)
        ExpiresByType text/x-component                      "access plus 0 seconds"

      # HTML
        ExpiresByType text/html                             "access plus 0 seconds"

      # JavaScript
        ExpiresByType application/javascript                "access plus 0 seconds"

      # Manifest files
        ExpiresByType application/manifest+json             "access plus 0 seconds"
        ExpiresByType application/x-web-app-manifest+json   "access plus 0 seconds"
        ExpiresByType text/cache-manifest                   "access plus 0 seconds"

      # Media
        ExpiresByType audio/ogg                             "access plus 0 seconds"
        ExpiresByType image/gif                             "access plus 0 seconds"
        ExpiresByType image/jpeg                            "access plus 0 seconds"
        ExpiresByType image/png                             "access plus 0 seconds"
        ExpiresByType video/mp4                             "access plus 0 seconds"
        ExpiresByType video/ogg                             "access plus 0 seconds"
        ExpiresByType video/webm                            "access plus 0 seconds"

      # Web feeds
        ExpiresByType application/atom+xml                  "access plus 0 seconds"
        ExpiresByType application/rss+xml                   "access plus 0 seconds"

      # Web fonts
        ExpiresByType application/font-woff                 "access plus 0 seconds"
        ExpiresByType application/vnd.ms-fontobject         "access plus 0 seconds"
        ExpiresByType application/x-font-ttf                "access plus 0 seconds"
        ExpiresByType font/opentype                         "access plus 0 seconds"
        ExpiresByType image/svg+xml                         "access plus 0 seconds"
    </IfModule>

    Options Indexes FollowSymLinks
    AllowOverride None
    Order allow,deny
    allow from all
    Require all granted

    RewriteEngine On

    RewriteCond %{HTTP:Authorization} ^(.*)
    RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]

    RewriteRule ^$ /app_dev.php [QSA,L]

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /app_dev.php [QSA,L]
  </Directory>
</VirtualHost>
